body {
    padding: 0;
    margin: 0;
    color: #17202A;
    background-color: white;
}

.mgr-0{
    margin-right: 0px;
}

.mgr-5{
    margin-right: 5px;
}

.mgr-10{
    margin-right: 10px;
}

.mgr-15{
    margin-right: 15px;
}

.mgr-20{
    margin-right: 20px;
}

.mgl-0{
    margin-left: 0px;
}

.mgl-5{
    margin-left: 5px;
}

.mgl-10{
    margin-left: 10px;
}

.mgl-15{
    margin-left: 15px;
}

.mgl-20{
    margin-left: 20px;
}

.mgt-0{
    margin-top: 0px;
}

.mgt-5{
    margin-top: 5px;
}

.mgt-10{
    margin-top: 10px;
}

.mgt-15{
    margin-top: 15px;
}

.mgt-20{
    margin-top: 20px;
}

.mgb-0{
    margin-bottom: 0px;
}


.mgb-5{
    margin-bottom: 5px;
}

.mgb-10{
    margin-bottom: 10px;
}

.mgb-15{
    margin-bottom: 15px;
}

.mgb-20{
    margin-bottom: 20px;
}

.mgy-5{
    margin-bottom: 5px;
    margin-top: 5px;
}

.mgy-10{
    margin-bottom: 10px;
    margin-top: 10px;
}

.mgy-15{
    margin-bottom: 15px;
    margin-top: 15px;
}

.mgy-20{
    margin-bottom: 20px;
    margin-top: 20px;
}

.float-right{
    float: right;
}

.float-left{
    float: left;
}

.display-block{
    display: block;
}

.display-inline-block{
    display: inline-block;
}

.pointer{
    cursor: pointer;
}

.w-100{
    width: 100%;
}

.bolder{
    font-weight: bolder;
}