/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 14px !important;
}

.ag-theme-alpine{
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 14px !important;
}

.el-tabs__header.is-top{
  margin-bottom: 0;
}

.el-tabs__item.is-left {
  text-align: left !important;
}


.el-tabs__header.is-left{
  width: 125px !important;
  margin-right: 0px !important;
}

.el-tabs__content{
  padding: 10px !important;
}